# AI API Key Variables
OPENAI_API_KEY=<OPENAI_API_KEY>
GOOGLE_API_KEY=<GOOGLE_API_KEY>
SERPAPI_API_KEY=<SERPAPI_API_KEY>

# Base URLs
OPENAI_BASE_URL=https://api.openai.com/v1
MANUS_BASE_URL=https://api.manus.im

# DB
PINECONE_API_KEY=<PINECONE_API_KEY>

# Token for Communication
INTERNAL_TOKEN=freebies

# Other Configurations
BACKEND_URL=http://localhost:8080